@import 'variables';

// The actual card/search container
.new-container,
.image-container {
  display: flex;
  flex-direction: column;
  width: 35.5rem;
  height: 25.916134185304rem;
  border-radius: $card-border-radius-lg;
  border: 1px solid rgba($black, 0.2);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.new-container {
  background-color: rgba($black, 0.5);
  padding: 1rem;

  &__input {
    background-color: rgba($white, 0.85);
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
  }
}

.suggestions {
  --suggestion-gutter: 0.9rem; // Space between each individual suggestion

  list-style-type: none;
  max-height: 21.6rem;
  overflow-y: auto;
  border-radius: 0px 0px 4px 4px;

  display: flex;
  flex-direction: column;

  &__suggestion {
    padding: calc(var(--suggestion-gutter) / 2) 0.25rem
      calc(var(--suggestion-gutter) / 2) 0.75rem;
    background-color: rgba($white, 0.65);
    line-height: 0.95;
    cursor: pointer;

    &:first-of-type {
      padding-top: var(--suggestion-gutter);
    }
    &:last-of-type {
      padding-bottom: var(--suggestion-gutter);
    }

    transition: color 0.125s, background-color 0.1s;
    &:hover {
      background-color: rgba($black, 0.55);
      color: rgba($white, 0.65);
    }
    // For javascript to force the effect on keypress up/down
    &--hover {
      background-color: rgba($black, 0.55);
      color: rgba($white, 0.65);
    }
  }
}

.image-container {
  position: relative;

  /*   display: flex;
  flex-direction: column;
  gap: 0.5rem; */
  display: grid;
  //grid-template-columns: 1fr min-content;
  //grid-template-rows: 1fr 1fr min-content;
  gap: 0.5rem;
  grid-template-areas:
    'D M M M M'
    'I . . . B'
    'I . . . B'
    'I . . . B'
    'N N N N N';

  // Faceswap, delete, etc.
  &__options {
    grid-area: B;
    align-self: start;
    justify-self: end;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;

    color: rgba($white, 0.65);
    font-size: 2rem; //~ Move this or delete it
  }

  &__name {
    grid-area: N;
    margin-top: auto;
    text-align: center;

    height: 4rem;
    padding-top: 1rem;

    border-bottom-right-radius: $card-border-radius-lg;
    border-bottom-left-radius: $card-border-radius-lg;

    background: $black;
    background: linear-gradient(
      180deg,
      rgba($black, 0) 0%,
      rgba($black, 0.9528186274509804) 85%
    );

    color: $white;
  }

  &__delete {
    grid-area: D;
    height: 2.5rem;
    width: auto;
    cursor: pointer;
    margin: 0.5rem 0 0 0.5rem;
    fill: $white;
    // border: 3px solid $black;
    // border-radius: 50%;

    transition: opacity 0.1s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.symbols-container {
  grid-area: M;
  align-self: start;
  justify-self: end;

  display: flex;
  gap: 0.5rem;
  background-color: rgba($black, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;

  &--vertical {
    grid-area: I;
    align-self: start;
    justify-self: start;

    flex-direction: column;
    // margin: 0 0 0 0.5rem; //* For inside the card

    background-color: rgba($white, 0.2);
    backdrop-filter: blur(2px);

    transform: translate(-62.5%, 0);
    position: absolute;
    left: 0;
  }

  &--small {
    padding: 0.1rem;
  }

  &__mana {
    height: 2rem;
    width: 2rem;
  }

  &__indicator {
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid rgba($black, 0.5);
    border-radius: 50%;
  }
}
