@import 'variables';

.new-container,
.image-container {
  display: flex;
  flex-direction: column;
  width: 35.5rem;
  height: 25.916134185304rem;
  border-radius: $card-border-radius;
  border: 1px solid rgba($black, 0.2);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.new-container {
  background-color: rgba($black, 0.5);
  padding: 1rem;

  &__input {
    background-color: rgba($white, 0.85);
    border-radius: 4px;
    border: none;
    padding: 0.5rem;
  }
}

.suggestions {
  --suggestion-gutter: 0.9rem; // Space between each individual suggestion

  list-style-type: none;
  max-height: 21.6rem;
  overflow-y: auto;
  border-radius: 0px 0px 4px 4px;

  display: flex;
  flex-direction: column;

  &__suggestion {
    padding: calc(var(--suggestion-gutter) / 2) 0.25rem
      calc(var(--suggestion-gutter) / 2) 0.75rem;
    background-color: rgba($white, 0.65);
    line-height: 0.95;
    cursor: pointer;

    &:first-of-type {
      padding-top: var(--suggestion-gutter);
    }
    &:last-of-type {
      padding-bottom: var(--suggestion-gutter);
    }

    transition: color 0.125s, background-color 0.1s;
    &:hover {
      background-color: rgba($black, 0.55);
      color: rgba($white, 0.65);
    }
    // For javascript to force the effect on keypress up/down
    &--hover {
      background-color: rgba($black, 0.55);
      color: rgba($white, 0.65);
    }
  }
}

.image-container {
  &__cost {
    background-color: orangered;
    align-self: flex-end;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
  }

  &__name {
    margin-top: auto;
    text-align: center;

    height: 4rem;
    padding-top: 1rem;

    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;

    background: $black;
    background: linear-gradient(
      180deg,
      rgba($black, 0) 0%,
      rgba($black, 0.9528186274509804) 85%
    );

    color: $white;
  }
}
