:root {
  --color-white: #fff;
  --color-black: #000;
}

// ------ ////////////////
// COLORS ////////////////
// ------ ////////////////

// WHITE
$plains: #fffbd5;
$plains-phy: #e9e3b1;
$plains-mana: #f9faf4;
$plains-dark: #4c4b40;
$plains-light: #fffef2;

// BLUE
$blue: #aae0fa;
$blue-phy: #8ebbd1;
$blue-mana: #0e68ab;
$blue-dark: #33434b;
$blue-light: #e6f6fe;

// BLACK
$black: #cbc2bf;
$black-phy: #9b8e8a;
$black-mana: #150b00;
$black-dark: #3d3a39;
$black-light: #efedec;

// RED
$red: #f9aa8f;
$red-phy: #de8166;
$red-mana: #d3202a;
$red-dark: #4b332b;
$red-light: #fde6dd;

// GREEN
$green: #9bd3ae;
$green-phy: #80b092;
$green-mana: #00733e;
$green-dark: #2e3f34;
$green-light: #e1f2e7;

// COLORLESS
$colorless: #cac5c0;
$colorless-dark: #514f4d;

// MULTI
$multi: #e7ce7b;
