:root {
  --color-white: #fff;
  --color-black: #000;
}

// FONTS /////////////////
// Amiri =-------------- 0,400;0,700 =-------------- REG | ITAL
// Cinzel Decorative =-- 400;700;900 =-------------- REG
// Cinzel =------------- 400;500;600;700;800;900 =-- REG
//font-family: 'Amiri', serif;
//font-family: 'Cinzel', serif;
//font-family: 'Cinzel Decorative', cursive;
$font-title: 'Cinzel Decorative', cursive;
$font-text: 'Amiri', serif;

// ------ ////////////////
// COLORS ////////////////
// ------ ////////////////

// WHITE
$plains: #fffbd5;
$plains-phy: #e9e3b1;
$plains-mana: #f9faf4;
$plains-dark: #4c4b40;
$plains-light: #fffef2;

// BLUE
$island: #aae0fa;
$island-phy: #8ebbd1;
$island-mana: #0e68ab;
$island-dark: #33434b;
$island-light: #e6f6fe;

// BLACK
$swamp: #cbc2bf;
$swamp-phy: #9b8e8a;
$swamp-mana: #150b00;
$swamp-dark: #3d3a39;
$swamp-light: #efedec;

// RED
$mountain: #f9aa8f;
$mountain-phy: #de8166;
$mountain-mana: #d3202a;
$mountain-dark: #4b332b;
$mountain-light: #fde6dd;

// GREEN
$forest: #9bd3ae;
$forest-phy: #80b092;
$forest-mana: #00733e;
$forest-dark: #2e3f34;
$forest-light: #e1f2e7;

// COLORLESS
$waste: #cac5c0;
$waste-dark: #514f4d;

// MULTI
$multi: #e7ce7b;

// ------ ////////////////
// BACKGROUND ////////////
// ------ ////////////////
$background: #212221;
$background-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231e1f1e' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
