:root {
  --color-white: #fff;
  --color-black: #000;
}

// ------ ////////////////
// COLORS ////////////////
// ------ ////////////////

// WHITE
$plains: #fffbd5;
$plains-phy: #e9e3b1;
$plains-mana: #f9faf4;
$plains-dark: #4c4b40;
$plains-light: #fffef2;

// BLUE
$island: #aae0fa;
$island-phy: #8ebbd1;
$island-mana: #0e68ab;
$island-dark: #33434b;
$island-light: #e6f6fe;

// BLACK
$swamp: #cbc2bf;
$swamp-phy: #9b8e8a;
$swamp-mana: #150b00;
$swamp-dark: #3d3a39;
$swamp-light: #efedec;

// RED
$mountain: #f9aa8f;
$mountain-phy: #de8166;
$mountain-mana: #d3202a;
$mountain-dark: #4b332b;
$mountain-light: #fde6dd;

// GREEN
$forest: #9bd3ae;
$forest-phy: #80b092;
$forest-mana: #00733e;
$forest-dark: #2e3f34;
$forest-light: #e1f2e7;

// COLORLESS
$colorless: #cac5c0;
$colorless-dark: #514f4d;

// MULTI
$multi: #e7ce7b;
