:root {
  --color-white: #fff;
  --color-black: #000; }

:root {
  --color-white: #fff;
  --color-black: #000; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: #212221;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231e1f1e' stroke-width='25' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); }

.App {
  padding: 4rem; }

:root {
  --color-white: #fff;
  --color-black: #000; }

.card-name {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: center; }

:root {
  --color-white: #fff;
  --color-black: #000; }

.cards {
  display: grid; }

.card {
  background-color: #cac5c0;
  padding: 0.3rem;
  width: min-content;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }

.image-container {
  display: flex;
  flex-direction: column;
  width: 35.5rem;
  height: 25.916134185304rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }
  .image-container__cost {
    background-color: orangered;
    align-self: flex-end;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem; }
  .image-container__name {
    margin-top: auto;
    text-align: center;
    height: 4rem;
    padding-top: 1rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.952819) 85%);
    color: #fff; }
